<table class='table table-condensed'>
  <thead>
    <tr>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'friendships/friend', collection: @users, as: :user %>
  </tbody>
</table>
