<table class='table table-condensed'>
  <thead>
    <tr>
      <th>My Liked Hobbies</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'hobbies', collection: @hobbies, as: :hobby %>
  </tbody>
</table>
