<h1>Hobbies</h1>

<div id="hobbies">
  <% @hobbies.each do |hobby| %>
    <div class="row">
      <div class="col-6"><%= link_to hobby.activity, hobby_path(hobby.id) %></div>
      <div class="col-6"><%= link_to "Like this hobby", like_path(hobby.id) %></div>
    </div>
  <% end %>
</div>

<%= link_to "Create a new Hobby", new_hobby_path, class: "text-dark" %>
